

<web-app 
    version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<filter>
		<description>
		</description>
		<display-name>PurchaseFilter</display-name>
		<filter-name>PurchaseFilter</filter-name>
		<filter-class>by.enot.minishop.Filter.PurchaseFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>by.enot.minishop.Filter.LoginFilter</filter-class>
	</filter>
	<filter>
        <description>
        </description>
        <display-name>RegisterFilter</display-name>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>by.enot.minishop.Filter.RegisterFilter</filter-class>
    </filter>
	<filter>
		<description>
		</description>
		<display-name>IsAdminFilter</display-name>
		<filter-name>IsAdminFilter</filter-name>
		<filter-class>by.enot.minishop.Filter.IsAdminFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>AdminProductFilter</display-name>
		<filter-name>AdminProductFilter</filter-name>
		<filter-class>by.enot.minishop.Filter.AdminProductFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>AdminPurchaseFilter</display-name>
		<filter-name>AdminPurchaseFilter</filter-name>
		<filter-class>by.enot.minishop.Filter.AdminPurchaseFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PurchaseFilter</filter-name>
		<url-pattern>/purchase</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/login</url-pattern>
	</filter-mapping>
	<filter-mapping>
        <filter-name>RegisterFilter</filter-name>
        <url-pattern>/register</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>IsAdminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminProductFilter</filter-name>
		<url-pattern>/admin/adminproductmanager</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminPurchaseFilter</filter-name>
		<url-pattern>/admin/adminpurchasemanager</url-pattern>
	</filter-mapping>
	
	
    
    
    
    <servlet>
        <servlet-name>MainPageController</servlet-name>
        <servlet-class>by.enot.minishop.Controller.MainPageController</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ProductController</servlet-name>
    	<servlet-class>by.enot.minishop.Controller.ProductController</servlet-class>
    </servlet>
    <servlet>  
    	<servlet-name>CartController</servlet-name>
    	<servlet-class>by.enot.minishop.Controller.CartController</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>PurchaseController</servlet-name>
    	<servlet-class>by.enot.minishop.Controller.PurchaseController</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>PrePurchaseController</servlet-name>
    	<servlet-class>by.enot.minishop.Controller.PrePurchaseController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LoginController</display-name>
    	<servlet-name>LoginController</servlet-name>
    	<servlet-class>by.enot.minishop.Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LogoutController</display-name>
    	<servlet-name>LogoutController</servlet-name>
    	<servlet-class>by.enot.minishop.Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RegisterController</display-name>
    	<servlet-name>RegisterController</servlet-name>
    	<servlet-class>by.enot.minishop.Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminProductManagerController</display-name>
    	<servlet-name>AdminProductManagerController</servlet-name>
    	<servlet-class>by.enot.minishop.Controller.AdminProductManagerController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminProductsTableController</display-name>
    	<servlet-name>AdminProductsTableController</servlet-name>
    	<servlet-class>by.enot.minishop.Controller.AdminProductTableController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminPurchaseTableController</display-name>
    	<servlet-name>AdminPurchaseTableController</servlet-name>
    	<servlet-class>by.enot.minishop.Controller.AdminPurchaseTableController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminPurchaseManagerController</display-name>
    	<servlet-name>AdminPurchaseManagerController</servlet-name>
    	<servlet-class>by.enot.minishop.Controller.AdminPurchaseManagerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPageController</servlet-name>
        <url-pattern>/MainPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ProductController</servlet-name>
    	<url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CartController</servlet-name>
    	<url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PurchaseController</servlet-name>
    	<url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PrePurchaseController</servlet-name>
    	<url-pattern>/PrePurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoginController</servlet-name>
    	<url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LogoutController</servlet-name>
    	<url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RegisterController</servlet-name>
    	<url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminProductManagerController</servlet-name>
    	<url-pattern>/admin/adminproductmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminProductsTableController</servlet-name>
    	<url-pattern>/admin/adminallproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminPurchaseTableController</servlet-name>
    	<url-pattern>/admin/adminallpurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminPurchaseManagerController</servlet-name>
    	<url-pattern>/admin/adminpurchasemanager</url-pattern>
    </servlet-mapping>
      
	<display-name>Archetype Created Web Application</display-name>
	<resource-ref>
    <res-ref-name>jdbc/minishop</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
</resource-ref>
</web-app>
